body {
  background: rgb(198, 130, 162);
}
/*--------content--------*/
.content {
  display:flex;  
}
.content_main {
  width: 80%;
}
.content_sidebar {
  background: white;
  padding: 1rem;
}

/*--------naviguation--------*/

.navigation ul {
  display: flex;
  justify-content: space-around;
}

.navigation li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}